@model ScrumTool.Database.ScrumTask

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details - @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Backlog Item", "Details", "BacklogItem", new { id = Model.BacklogItemID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID}, new {@class = "btn btn-default"})
</p>
